
.navbar {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  column-gap: 80px;
  max-width: 800px;
  margin: auto;
}

.projectTitleContainer {
  margin: 5px;
}

.projectTitle {

}

.files {
  margin: 5px;
}

.importMsg {
  margin: 5px;
}

.saveButton {
  margin-left: auto;
  padding: 5px;
  cursor: pointer;
}
.saveButton:hover {
  background-color: #181818	;
}
.green {
  color: green;
}
