
.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  column-gap: 80px;
  max-width: 800px;
  margin: auto;
}

.projectTitleContainer {
  margin: 5px;
}

.projectTitle {

}

.files {
  margin: 5px;
}

.importMsg {
  margin: 5px;
}

.gear-icon {
  position: absolute;
  right: 5px;
  top: 0px;
  font-size: 28px;
  cursor: pointer;
}

.gear-icon:hover {
  color: green;
}

.saveButton {
  position: absolute;
  right: 48px;
  top: 1px;
  margin-left: auto;
  cursor: pointer;
  font-size: 27px;
}
.saveButton:hover {
  color: green;
}
.green {
  color: green;
}


.config-options {
  margin: 5px 10px;
}

.config-title {
  font-size: 30px;

}


.settings-row {
  font-size: 20px;
  margin: 5px 20px;
  width: 100%;
  display: inline-block;
}

.settings-row-label {
  font-size: 20px;
  width: 90%;
  display: inline-block;
}

.settings-row-input {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 3px;
  font-size: 20px;
  width: 90%;
}
