
.importInfoSection {
  text-align: center;
}
.importInfoLine {
  font-size: 18px;
  margin: 12px 5px;
}

.replaysInfo {
  margin: 20px;
  font-size: 20px;
}

.replayInfoRow {
  margin: 5px;
}

.replayInfoData {
  margin-left: 10px;
}

.replayButtonsSection {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.replaySectionButton {
  border: solid 2px #686868;
  border-radius: 5px;
  background-color: #383838;
  color: #FAFFFD;
  margin: 10px;
  width: 160px;
  text-align: center;
  padding: 8px 10px 11px;
  font-size: 24px;
}

.replaySectionButton:hover {
  cursor: pointer;
  background-color: #282828;
}

.replayModal-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(160, 160, 160, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.replayModal {
  padding: 10px;
  border: solid 4px #282828;
  background-color: #342E37;
  border-radius: 6px;
  width: 750px;
  min-height: 400px;
  max-height: 500px;
  margin: auto;
  margin-top: 140px;
  overflow: hidden;
  overflow-y: scroll;
}

.replayNamesList {
  margin: 10px;
}

.nameRowTitle {
  margin: 10px 4px;
  font-size: 25px;
}
.nameRow {
  margin: 4px 6px;
  font-size: 22px;
}
.nameKey {
  display: inline-block;
  width: 200px;
}
.nameValue {
  margin-left: 5px;
}
