/**
 * DomLayer Styles
 */

.dom-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar but keep functionality */
.dom-layer::-webkit-scrollbar {
  display: none;
}
