/**
 * DomLayer Styles
 */

.dom-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  scrollbar-width: thin;
  scrollbar-color: #3a3a3a transparent;
}

.dom-layer::-webkit-scrollbar {
  width: 6px;
}

.dom-layer::-webkit-scrollbar-track {
  background: transparent;
}

.dom-layer::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 3px;
}

.dom-layer::-webkit-scrollbar-thumb:hover {
  background: #505050;
}
